<div th:fragment="cards" class="row center-align" style="display: block; justify-content: normal;">

    <!-- Card 1 -->
    <div class="col s12 m6 l4">
        <div class="card" style="border-radius: 15px; background-color: #dcd9d7 ">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator " src="/img/perrito-hab.jpg" style="border-radius: 15px;  overflow: hidden;" alt="#">
            </div>

            <div class="card-reveal" style="background-color: #dcd9d7">
          <span class="card-title grey-text text-darken-4">
           Habanero<i class="material-icons right">close</i>
          </span>
                <hr>
                <br>
                <p style="text-align: justify-all">El chile habanero es rico en antioxidantes y vitaminas A & C. Tiene propiedades analgésicas y antiinflamatorias, estimula el metabolismo y promueve la quema de calorías, ayuda en el crecimiento del cabello y uñas, regula la insulina y ayuda a reducir infartos.</p>
            </div>
        </div>
    </div>


    <!-- Card 2 -->
    <div class="col s12 m6 l4">
        <div class="card" style="border-radius: 15px; background-color: #dcd9d7">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator " src="/img/perrito-serranos.jpg" style="border-radius: 15px;  overflow: hidden;" alt="#">
            </div>

            <div class="card-reveal" style="background-color: #dcd9d7">
          <span class="card-title grey-text text-darken-4">
           Serrano<i class="material-icons right">close</i>
          </span>
                <hr>
                <br>
                <p style="text-align: justify-all">El chile serrano, originario de zonas serranas, es rico en betacaroteno y vitamina C, lo que lo hace beneficioso para el corazón, la piel, la vista y el sistema inmunológico. Además, ayuda a reducir el apetito, acelera el metabolismo y
                    tiene propiedades anticoagulantes y antiinflamatorias.</p>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="col s12 m6 l4">
        <div class="card" style="border-radius: 15px; background-color: #dcd9d7 ">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator " src="/img/xcatic1.png" style="border-radius: 15px;  overflow: hidden;" alt="#">
            </div>

            <div class="card-reveal" style="background-color: #dcd9d7">
          <span class="card-title grey-text text-darken-4">
           Xcatic<i class="material-icons right">close</i>
          </span>
                <hr>
                <br>
                <p style="text-align: justify-all">El chile xcatic es bajo en calorías, rico en vitamina C y antioxidantes, lo que fortalece el sistema inmunológico, protege las células y mejora la salud de la piel. Su sabor suave permite consumirlo fácilmente, favoreciendo la digestión y aportando nutrientes sin irritar el estómago.</p>
            </div>
        </div>
    </div>

    <!-- Card 4 -->

    <div class="col s12 m6 l4">
        <div class="card" style="border-radius: 15px; background-color: #dcd9d7 ">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator " src="/img/perrito-jalapeno.jpg" style="border-radius: 15px;  overflow: hidden;" alt="#">
            </div>

            <div class="card-reveal" style="background-color: #dcd9d7">
          <span class="card-title grey-text text-darken-4">
           Jalapeño<i class="material-icons right">close</i>
          </span>
                <hr>
                <br>
                <p style="text-align: justify-all">El chile jalapeño es rico en vitamina C, antioxidantes y capsaicina, lo que fortalece el sistema inmunológico, mejora la circulación, acelera el metabolismo y ayuda a controlar el peso. También tiene propiedades antiinflamatorias, analgésicas y puede favorecer la digestión y la salud cardiovascular.</p>
            </div>
        </div>
    </div>

    <!-- Card  -->

    <div class="col s12 m6 l4">
        <div class="card" style="border-radius: 15px; background-color: #dcd9d7 ">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator " src="/img/p-arbol.jpg" style="border-radius: 15px;  overflow: hidden;" alt="#">
            </div>

            <div class="card-reveal" style="background-color: #dcd9d7">
          <span class="card-title grey-text text-darken-4">
           Árbol<i class="material-icons right">close</i>
          </span>
                <hr>
                <br>
                <p style="text-align: justify-all">El chile de árbol es rico en capsaicina, antioxidantes y vitamina C. Estimula el metabolismo, mejora la circulación, refuerza el sistema inmunológico y favorece la digestión. Además, tiene propiedades antiinflamatorias, antimicrobianas, descongestionantes y puede mejorar el estado de ánimo y ayudar a controlar la presión arterial.</p>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card" style="border-radius: 15px; background-color: #dcd9d7 ">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator " src="/img/chiltepin.jpg" style="border-radius: 15px;  overflow: hidden;" alt="#">
            </div>

            <div class="card-reveal" style="background-color: #dcd9d7">
          <span class="card-title grey-text text-darken-4">
           Chiltepín<i class="material-icons right">close</i>
          </span>
                <hr>
                <br>
                <p style="text-align: justify-all">El chile chiltepín es una excelente fuente de capsaicina, vitamina C y antioxidantes. Estimula el metabolismo, fortalece el sistema inmunológico, mejora la circulación y ayuda a combatir infecciones. También tiene efectos antiinflamatorios, analgésicos y puede favorecer la digestión y la salud cardiovascular.</p>
            </div>
        </div>
    </div>

</div>