<div th:fragment="carousel">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/carousel.css">

    <div class="col s12">
        <br>
        <br>
        <h1 class="center-align titulo">¿Que se te antoja hoy?</h1>

        <div class="carousel center-align">
            <div class="carousel-item">

                <div class="linea-division "></div>
                <p class="sabor">Hot Dog</p>
                <img src="img/jochos1.jpg" >
            </div>

            <div class="carousel-item">
                <div class="linea-division"></div>
                <p class="sabor">Esquites</p>
                <img src="img/esquites.jpg" >
            </div>
            <div class="carousel-item">

                <div class="linea-division"></div>
                <p class="sabor">Pizza</p>
                <img src="img/Pizza1.jpeg" >
            </div>
            <div class="carousel-item">

                <div class="linea-division"></div>
                <p class="sabor">Jalapeno</p>
                <img src="img/serrano-cortado.jpeg">
            </div>
            <div class="carousel-item">

                <div class="linea-division"></div>
                <p class="sabor">Chiltepin</p>
                <img src="img/plato.jpeg">
            </div>

        </div>


    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <!-- JS Main -->

    <script src="/js/main.js"></script>

</div>
